{% comment %}Shared mouse-parallax bubbles & bows for hero (home + welcome).{% endcomment %}
<div class="parallax-layer" id="parallax-bubbles" aria-hidden="true">
  <div class="parallax-bubble" data-speed="0.032" style="width: 100px; height: 100px; top: 8%; left: 5%;"></div>
  <div class="parallax-bubble" data-speed="0.048" style="width: 72px; height: 72px; top: 18%; right: 8%;"></div>
  <div class="parallax-bubble" data-speed="0.04" style="width: 120px; height: 120px; bottom: 12%; left: 3%;"></div>
  <div class="parallax-bubble" data-speed="0.055" style="width: 56px; height: 56px; bottom: 28%; right: 6%;"></div>
  <div class="parallax-bubble" data-speed="0.038" style="width: 88px; height: 88px; top: 42%; left: 2%;"></div>
  <div class="parallax-bubble" data-speed="0.045" style="width: 64px; height: 64px; top: 52%; right: 4%;"></div>
  <div class="parallax-bubble" data-speed="0.042" style="width: 96px; height: 96px; top: 12%; left: 48%;"></div>
  <div class="parallax-bubble" data-speed="0.05" style="width: 52px; height: 52px; bottom: 18%; left: 22%;"></div>
  <div class="parallax-bubble" data-speed="0.035" style="width: 140px; height: 140px; top: 58%; left: 12%;"></div>
  <div class="parallax-bubble" data-speed="0.058" style="width: 68px; height: 68px; top: 28%; right: 22%;"></div>
  <div class="parallax-bubble" data-speed="0.04" style="width: 80px; height: 80px; bottom: 8%; right: 18%;"></div>
  <div class="parallax-bubble" data-speed="0.046" style="width: 44px; height: 44px; top: 72%; right: 35%;"></div>
  <div class="parallax-bubble" data-speed="0.033" style="width: 110px; height: 110px; top: 2%; right: 38%;"></div>
  <div class="parallax-bubble" data-speed="0.052" style="width: 76px; height: 76px; bottom: 38%; left: 38%;"></div>
  <div class="parallax-bubble" data-speed="0.041" style="width: 60px; height: 60px; top: 35%; left: 28%;"></div>
  <div class="parallax-bubble" data-speed="0.047" style="width: 92px; height: 92px; bottom: 42%; right: 12%;"></div>
</div>
<div class="parallax-layer" id="parallax-bows" aria-hidden="true">
  <div class="parallax-bow" data-speed="0.042" data-rotate="15" style="width: 48px; height: 32px; top: 16%; right: 18%;">
    <svg viewBox="0 0 64 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M8 20c0-8 8-16 24-16 0 8-8 16-24 16 16 0 24-8 24-16-16 0-24 8-24 16z" opacity="0.95"/></svg>
  </div>
  <div class="parallax-bow" data-speed="0.058" data-rotate="-22" style="width: 40px; height: 26px; bottom: 26%; left: 10%;">
    <svg viewBox="0 0 64 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M8 20c0-8 8-16 24-16 0 8-8 16-24 16 16 0 24-8 24-16-16 0-24 8-24 16z" opacity="0.95"/></svg>
  </div>
  <div class="parallax-bow" data-speed="0.036" data-rotate="8" style="width: 44px; height: 28px; top: 62%; right: 12%;">
    <svg viewBox="0 0 64 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M8 20c0-8 8-16 24-16 0 8-8 16-24 16 16 0 24-8 24-16-16 0-24 8-24 16z" opacity="0.95"/></svg>
  </div>
  <div class="parallax-bow" data-speed="0.05" data-rotate="-12" style="width: 36px; height: 24px; top: 48%; left: 18%;">
    <svg viewBox="0 0 64 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M8 20c0-8 8-16 24-16 0 8-8 16-24 16 16 0 24-8 24-16-16 0-24 8-24 16z" opacity="0.95"/></svg>
  </div>
  <div class="parallax-bow" data-speed="0.044" data-rotate="20" style="width: 38px; height: 25px; top: 8%; left: 22%;">
    <svg viewBox="0 0 64 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M8 20c0-8 8-16 24-16 0 8-8 16-24 16 16 0 24-8 24-16-16 0-24 8-24 16z" opacity="0.95"/></svg>
  </div>
</div>
